<!DOCTYPE html>
{% load static %}
<html lang="en">

<div class="header">
	{% if user.username %}
    <a href="{% url 'logout' %}">Log Out</a>
  {% endif %}
  <div class="header-content">
    <h1 class="header-title">Restaurant Inventory</h1>
    {% if user.username %}
    <h3 class="header-greet">Welcome {{ user.username }}!</h3>
    {% endif %}

    <a href="{% url 'ingredients' %}">Manage Ingredients</a>
    <a href="{% url 'menu_items' %}">Manage Menu Entries and their recepies</a>
    <a href="{% url 'purchases' %}">Check Purchases</a>

  </div>
</div>

{% block content%}
{% endblock %}
</html>
